<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
<h1>Главная страница</h1>
{#<form action="{% url 'home' %}"  method="POST">#}
{##}
{#    {% csrf_token %}#}
{#    <p><label for="id_1">Название продукта</label><input type="text" id="id_1" name="title"></p>#}
{#    <p><label for="id_2">Стоимость</label><input type="number" id="id_2" name="price"></p>#}
{#    <p><label for="id_3">Описание</label><input type="text" id="id_3" name="descrip"></p>#}
{#    <p><label for="id_4">Категория</label><input type="number" id="id_4" name="cat"></p>#}
{#    <p><button type="submit">Отправить</button></p>#}
{#</form>#}
{#<p1>#}
{#    {% for prod in products %}#}
{#    <p> {{ prod.title }}  {{ prod.price }} </p>#}
{#    {% endfor %}#}
{#</p1>#}
</body>
</html>